:root {
  /*Font family*/
  --font-family: 'Chakra Petch', sans-serif;

  /* Fondo de página -fondo*/
  --bgn-fondo: #fff4fd;

  /* Background lineal superior -sp*/
  --bg-linea-sp: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);

  /*Barra superior -bs*/
  --box-shadow-bs: 0 1px 0 0 #110038;
  --font-sz-bs: 12px;
  --color-bs: #ffffff;
  --let-sp-bs: 0;

  /*Boton menu -bm*/

  --bgn-bm: #f7c9f3;
  --border-bm: 1px solid #110038;
  --box-shadow-bm: inset -1px -1px 0 0 #997d97,
    inset 1px 1px 0 0 #ffffff;
  --color-bm: #110038;

  /* Barra buscador -bb*/
  --bg-bb: #e6e6e6;
  --box-shadow-bb: inset -2px -2px 0 0 #b4b4b4,
    inset 2px 2px 0 0 #ffffff;

  /* Botón dropdown*/
  --dropdown-btn1: #fff4fd;
  --dropdown-btn2: #f0f0f0;

  --font-color1: #110038;
  --font-color2: #110038;

  /* Box random*/
  --bgn-btn: #4180f6;
}

[dataTheme='dark'] {
  /*Font family*/
  --font-family: 'Chakra Petch', sans-serif;

  /* Color de fondo*/

  --bgn-fondo: #110038;

  /* Background lineal superior -sp*/
  --bg-linea-sp: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

  /*Barra superior*/
  --box-shadow-bs: 0 1px 0 0 #110038;
  --font-sz-bs: 12px;
  --color-bs: #ffffff;
  --let-sp-bs: 0;

  /*Boton menu*/

  --bgn-bm: #ee3efe;
  --border-bm: 1px solid #110038;
  --box-shadow-bm: inset -1px -1px 0 0 #a72cb3,
    inset 1px 1px 0 0 #ffffff;
  --color-bm: #ffffff;

  /* Barra buscador */

  /* Botón dropdown*/
  --dropdown-btn1: #cccccc;
  --dropdown-btn2: #2e32fb;

  --font-color1: #110038;
  --font-color2: #ffffff;

  /* Box random*/
  --bgn-btn: #2e32fb;
}

/* ----------------------------------------------- */

/*----- Botón de cambio de color oculto*/

.dropdowncapturar {
  display: none;
}

/* Barra contadora de visitas*/
.barra-contador {
  background-image: var(--bg-linea-sp);
  box-shadow: var(--box-shadow-bs);
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: var(--color-bs);
  letter-spacing: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  z-index: 2;
}

/*Barra del footer*/
.barra-footer {
  background-image: var(--bg-linea-sp);
  box-shadow: var(--box-shadow-bs);
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: var(--color-bs);
  letter-spacing: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  z-index: 2;
  margin-top: 20px;
}

/* Iconos para volver al inicio*/
.nav-crear {
  display: flex;
  margin-top: 35px;
  margin-left: 60px;
}

.nav-crear #logo {
  margin-left: 10px;
}

/* Primera Venta de Captura de Gif*/
.barra-larga {
  width: 678px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--bg-linea-sp);
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 0.875rem;
  color: var(--color-bs);
  letter-spacing: 0;
}

.barra-larga h3 {
  padding: 0.21rem;
  font-family: var(--font-family);
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.crear-gifo {
  width: 684px;
  margin: 75px auto 80px auto;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 2px;
  display: block;
}

.titulo-icono {
  display: flex;
  margin-left: 25px;
  padding-top: 30px;
}

.titulo-icono h3 {
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 16px;
}

.texto-interno {
  padding: 7px 93px 0px 73px;
  font-family: var(--font-family);
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.texto-interno span {
  font-weight: 700;
}

.botonesPrimero {
  display: flex;
  justify-content: flex-end;
  padding: 28px 36px 36px 0px;
}

#cancelarPrimero {
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer;
  width: 144px;
  height: 36px;
  margin-right: 16px;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

#back {
  cursor: pointer;
}

#logo {
  cursor: pointer;
}

#comenzarPrimero {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  cursor: pointer;
  width: 144px;
  height: 36px;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

/* Segunda Ventana de Captura de Gif*/

#capturarGifo {
  width: 860px;
  height: 548px;
  margin: 75px auto 40px auto;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 4px;
  display: none;
}

.barraSegunda {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  height: 24px;
}

.barraSegunda p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  align-content: center;
  padding-left: 4px;
}

.barraSegunda img {
  padding-right: 7px;
  cursor: pointer;
}

/* Tamaño de los videos a renderizar*/

.espacioVideos {
  width: 832px;
  height: 434px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  z-index: 99;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#video {
  width: 832px;
  height: 434px;
  /* display: none; */
  margin-left: auto;
  margin-right: auto;
}

#videoPrevio {
  width: 832px;
  height: 434px;
  /* display: none; */
  margin-left: auto;
  margin-right: auto;
}

.espacioBotones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  margin-right: 16px;
}

.derecha {
  display: flex;
  justify-content: flex-end;
}

.grabar {
  display: flex;
  justify-content: flex-end;
}

.stop {
  display: flex;
  justify-content: flex-end;
}

.botonCapturar {
  width: 144px;
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imgCamara {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hms {
  width: 124px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}

.botonGrabar {
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  width: 144px;
  height: 36px;
  font-family: var(--font-family);
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}

.imgGrabar {
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#repetirCaptura {
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 144px;
  height: 36px;
  margin-right: 16px;
  cursor: pointer;
}

#subirGifo {
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 144px;
  height: 36px;
  cursor: pointer;
}

#botonesFinales {
  display: flex;
}


#esparaSubir {
  padding: 4px;
  width: 860px;
  height: 548px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: none;
}

.barraTercera {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  height: 24px;
}

.barraTercera p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  align-content: center;
  padding-left: 4px;
}

.barraTercera img {
  padding-right: 7px;
  cursor: pointer;
}

.espacioGlobo {
  width: 838px;
  height: 440px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin-left: 8px;
  margin-top: 8px;
}

.espacioGlobo img {
  margin-top: 139px;
  margin-left: 398px;
}

.espacioGlobo h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin-top: 8px;
}

.barraEstado {
  width: 324px;
  height: 24px;
  background: #B4B4B4;
  box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
}

.barraEstado .pink {
  margin-top: 2px;
  width: 12px;
  height: 20px;
  background: #F7C9F3;
}

.barraEstado .grey {
  margin-top: 2px;
  width: 12px;
  height: 20px;
  background: #999999;
}

.espacioGlobo p {
  font-family: var(--font-family);
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
  margin-top: 10px;
}

.espacioGlobo p span {
  text-decoration: line-through;
}

.espacioBS {
  display: flex;
  justify-content: flex-end;
}

#cancelarSubida {
  width: 134px;
  height: 36px;
  margin-top: 21px;
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-right: 14px;
  cursor: pointer;
}

#exito {
  width: 721px;
  height: 391px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  margin-bottom: 80px;
  margin-top: 75px;
  display: none;
}

.espacioExito {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#insertarGif {
  width: 365px;
  height: 191px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin-left: 27px;
  margin-top: 29px;
}

.botonesExito {
  margin-left: 27px;
  margin-top: 49px;
}

.botonesExito h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

#copiarEnlace,
#descargarGif {
  width: 265px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-top: 15px;
  cursor: pointer;
}

#listo {
  width: 144px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-top: 64px;
  margin-left: 531px;
  font-family: var(--font-family);
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}